h1 {
	text-align: center;
}

h2 {
	margin-top: 13px;
}

body {
	color: black;
	background-color: #27BEFE;
	font-family: Helvetica, Arial, sans-serif;
}

#container {
	background-color: lightblue;
	padding-left: 15px;
	padding-right: 15px;
	margin: 50px;
	border-style: double;
	border-width: 7px;
	border-color: blue;
	overflow: hidden;
	border-radius: 15px;
	font-size: 20px;
}

nav {
	text-align: center;
}

nav li {
	display: inline-block;
	text-align: center;
	background: turquoise;
	border: solid;
	border-width: 2px;
	border-radius: 6px;
	padding: 10px 10px;
	margin-left: 5px;
	font-weight: bold;
}

ol {
	font-weight: bold;
}

footer {
	text-align: center;
	font-style: italic;
}

footer a {
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}
	
table, th, td {
	border: 1px solid black;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ol {
	list-style-type: upper-alpha;
}

li a {
	text-align: center;
	text-decoration: none;
	padding: 3px;
}

a {
	color: blue;
}

/* a:visited {
	color: purple;
} */

a:hover {
	color: white;
}

.weapons {
	background-color: pink;
	border-style: solid;
	border-width: 3px;
	padding-left: 14px;
	padding-right: 14px;
	border-color: red;
	overflow: hidden;
	border-radius: 10px;
}

.enemy {
	margin-top: 10px;
	background-color: lightgreen;
	border-style: solid;
	border-width: 3px;
	padding-left: 14px;
	padding-right: 14px;
	border-color: green;
	overflow: hidden;
	border-radius: 8px;
	padding-bottom: 10px;
}

#endtext {
	text-align: center;
}

.redText
	{color: red;
}

img {float:right;
	margin-top: 15px;
	margin-left: 25px;
	margin-bottom: 15px;
	padding-right: 10px;
	display: block;
	padding-left: 6px;
}

@media (max-width: 750px) {
	h1 {font-size: 25px;}
	h2 {font-size: 21px;}
	h3 {font-size: 18px;}
	img {width: 50%;}
	.mytable {font-size: 13px;}
}

@media (max-width: 520px) {
	h1 {font-size: 20px;}
	img {width: 40%;}
}

@media (max-width: 560px)
	{
	nav li {display: block;
			margin-top: 5px;}
}